.add-control {
  margin: -30px auto 0;
  width: 700px;
  display: flex;
  background: #fff;
  box-shadow: 0px 7px 10px 1px rgba(214, 210, 214, 1);
  border-radius: 5px;
  padding: 1rem;
  position: sticky;
  bottom: 30px;
  z-index: 1;
}

.add-control-text {
  margin-right: 1.5rem;
}

.add-control-text::placeholder {
  font-weight: bold;
  color: #818b97;
}

.add-control-status {
  margin-right: 1.3rem;
  min-width: 120px;
  flex-grow: 1;
}
