.container {
  width: 100%;
}

.board {
  width: 800px;
  height: 600px;
  background: #edf3f8;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

.status {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.status::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(237, 243, 248, 1) 0%,
    rgba(222, 232, 240, 1) 40%,
    rgba(222, 232, 240, 1) 90%
  );
  height: 100%;
  width: 3px;
  position: absolute;
  right: 0;
  top: 0;
}

.status:last-child::after {
  display: none;
}

.status-name {
  color: #5e60b0;
  font-weight: bold;
  font-size: 1.1rem;
}

.add-control {
  margin: -30px auto 0;
  width: 700px;
  display: flex;
  background: #fff;
  box-shadow: 0px 7px 10px 1px rgba(214, 210, 214, 1);
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.add-control-field {
  background: #edf1f8;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.add-control-text {
  flex-grow: 1;
  margin-right: 1.5rem;
}

.add-control-text::placeholder {
  font-weight: bold;
  color: #bfcede;
}

.add-control-text:focus,
.add-control-text:active,
.add-control-btn:focus,
.add-control-btn:active {
  outline: none;
}

.add-control-status {
  margin-right: 1.3rem;
}

.add-control-btn {
  background: #00b883;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 2rem;
  cursor: pointer;
}

.add-control-btn:hover {
  background: #31a87c;
}
