.container {
  width: 100%;
}

.board {
  width: 800px;
  min-height: 600px;
  background: #edf3f8;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

