body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-field {
  background: #edf1f8;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.form-btn {
  background: #00b883;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 1.5rem;
  cursor: pointer;
}
